.main-con-benefits{
    height: 670px;
    width: 100%;
    
}
.title-benefits{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  
}
.benefit-container{
    margin: 4em 4.5em;
    /* background-color: red; */
    display: flex;
  
    align-items: space-between;
    flex-direction: column;
    
}
.benefit-head{
    font-weight: 800;
    font-size: 36px;
    color: #212121;
}
.center-benefits{
    margin-top: 4em;
display: flex;
flex-wrap: nowrap;
gap: 90px;


}
.box-bene{
    height: 300px;
    width: 400px;
    background-color: 
    rgba(244, 246, 252, 1);
}
.box-bene div{
    margin-left: 1.14em;
    margin-top: 1.2em;
    margin-right: 1.14em;
    line-height: 28px;
    color: rgb(118, 119, 137);
    font-weight: 500;
}

.box-bene img{
    margin: 2em 1.6em ;
    height: 27px;
    width: 32px;
}
.box-bene p{
    font-size: 20px;
    margin-left: 1.14em;
}

.benefit-footer{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 7em;
    color: rgb(37, 38, 45);

}
.hundered{
    font-weight: 700;
    font-size: 30px;
}
