.contact-main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4em;
  margin-bottom: 2em;

}
.contact-main *{
  color: #212121;
}
.contact-container {
  width: 1000px;
  height: 750px;
  background-color: rgba(244, 246, 252, 1);
 
  border-radius: 16px;
}
.name-email {
  font-weight: 600;
  display: flex;
  width: 100%;

  justify-content: space-between;
}

.name {
  font-weight: 600;
}

.nameinput {
  background-color: transparent;
  height: 52px;
  width: 400px;
  border-radius: 7px;
  border: 1px solid gray;
  margin-top: 0.8em;
  font-size: 20px;
}
#text {
  background-color: transparent;
  width: 900px;
  height: 200px;
  resize: none;
  width: 100%;
}

.padding-div {
  padding: 4em;
  display: flex;
  flex-direction: column;
}
.input-message {
  width: 100%;
  margin-top: 3em;
}
.message {
  font-weight: 600;
  margin-bottom: 1em;
}
#mes-button {
  margin-top: 2em;
  width: 230px;
  height: 60px;
  border-radius: 35px;

  cursor: pointer;

  background-color: rgba(40, 41, 56, 1);
  color: #fff;
}
